.title,
.subtitle,
.gameOver {
  text-align: center;
}

.gameOver {
  background: linear-gradient(
    112deg,
    #06b7db -63.59%,
    #ff4ecd -20.3%,
    #0072f5 70.46%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 6s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.walletLinks {
  text-align: center;
  text-decoration: underline;
}
.walletLinks:hover {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: none;
}
