.title,
.subtitle,
.howTo {
  text-align: center;
}

.howTo:hover {
  cursor: pointer;
}

.description {
  padding: 20px !important;
}
.description p {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 950px) {
  .description {
    max-width: 600px;
    margin: 0 auto !important;
  }
}

.tokenCard {
  text-align: center !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: none;
}
