.title,
.subtitle,
.gameOver {
  text-align: center;
}

.gameOver {
  background: linear-gradient(
    112deg,
    #06b7db -63.59%,
    #ff4ecd -20.3%,
    #0072f5 70.46%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease-in-out infinite;
  -moz-animation: gradient 6s ease-in-out infinite;
  -webkit-animation: gradient 6s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.walletLinks {
  text-align: center;
  text-decoration: underline;
}
.walletLinks:hover {
  cursor: pointer;
}

.howTo {
  font-size: 1.2rem;
}
.howTo:hover {
  cursor: pointer;
}
